.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 800ms ease-in;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-exit {
    opacity: 1;
}

.example-exit.example-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.greeting {
    padding: 20px;
    background-color: #ccc;
    width: 200px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
}
.backicon{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    padding: 15px 20px;
    
} 
.header_fixed{
    z-index: 999;
    position:fixed;
    text-align: center;
    background-color: #db403f;
    left:0;
    top :0;
    right :0;
    width:100%;
    padding: 0 50px;
    line-height:50px
}
.bottom_fixed{
    z-index: 999;
    position:fixed;
    background-color: #fff;
    left:0;
    bottom :0;
    right :0;
    width:100%;
    line-height:50px
}
